html{
  background-color: #b19cd9;
}
h1 {
  padding-top: 10px;
  padding-bottom: 5px;
}
input {
  color: #ffffff !important;
  margin-left:40px !important;
  width:325px !important;
  font-size:40px !important;
  font-family: 'Roboto', sans-serif !important;
}
.typeahead-option{
  font-size:40px !important;
  font-family: 'Roboto', sans-serif !important;
}
.inputWrapper {
  display:inline-block;margin-right:10px;
  width: 200px !important;
}
.buttonWrapper {
  display:inline-block;
  position:fixed;
}
.searchWrapper{
  width:100%;
}
.slider-decorator-2{
  display:none;
}

.col{
  padding-left: 0px !important;
}

.s4{
  padding-left: 10px !important;
  padding-right: 20px !important;
}
.resultsWrapper{
  width:100%;
}

.slider-decorator-0{
  margin-top:60px;
}

.slider-decorator-1{
  margin-top:45px;
}

.figcaption{
  color: #ffffff !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 20px !important;
}

.slider-decorator-2{
  margin-top: 20px;
}

h1 {
    color: #ffffff !important;
}
.small{
  margin-top:50px;
}

.slider{
  margin:auto;
}

button {
  text-decoration: none !important;
  color: #fff !important;
  background-color: #4b0082 !important;
  text-align: center !important;
  letter-spacing: .5px !important;
  border: none !important;
  border-radius: 2px !important;
  height: 36px !important;
  line-height: 36px !important;
  padding: 0 2rem !important;
}

.largeFont{
  font-size: 40px;
  margin-top:0px !important;
  margin-bottom:0px !important;
}
#map {
    margin:0;
    padding:0;
    width : 100%;
    height : 100vh;
}

.sliderImg{
  margin-top: -20px;
}

img{
  width:550px;
  height:350px;
  overflow:hidden;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.logo {
    width: 275px !important;
    height: 80px !important;
}
